# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
src/__pycache__/
clothing_manager/__pycache__/


# Unit test / coverage reports
htmlcov/
.tox/
.pytest_cache
.coverage
.coverage.*
coverage.xml
test-reports/
coverage*/

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs / Text Editors
.idea/

#logs
*.log